#!/bin/bash

# NOTE: if the alfresco DB has been already initialized, the new password hash has to be manually
# set also there. (see https://docs.alfresco.com/5.0/concepts/admin-password.html)

set -e
NEW_PASSWORD=`python3 "{{ alfresco_user_home }}/bin/encode_password.py"`
sed -i "{{ alfresco_user_home }}/tomcat/shared/classes/alfresco-global.properties" -e "s/alfresco_user_store\.adminpassword=.*/alfresco_user_store\.adminpassword=$NEW_PASSWORD/g"
